/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#main-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 26rem;
  background-color: #ffffff;
  margin: 0;
  transition: transform 0.25s ease;
  box-shadow: 0 2px 6px 0 rgba(14,20,26,0.10), 0 0 1px 0 rgba(14,20,26,0.04);
}

#main-menu.hidden {
  transform: translate(-32rem);
}

#main-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 7.4rem;
}

#main-menu a, .log-out-button {
  display: block;
  padding: 1.6rem;
  padding-left: 6.8rem;
  font-size: 1.8rem;
  color: #9E9E9E;
  text-decoration: none;
  background-size: 3.2rem;
  background-repeat: no-repeat;
  background-position: 2rem;
  outline: 0;
}

#main-menu a:hover, #main-menu a.selected, .log-out-button:hover, .log-out-button.selected {
  font-weight: 700;
  background-color: #22262d;
  color: #fff;
  box-shadow: 0 2px 6px 0 rgba(14,20,26,0.10), 0 0 1px 0 rgba(14,20,26,0.04);
}

#main-menu a.hidden {
  display: none;
}

#main-menu #things-menu-item {
  background-image: url('../images/things-icon.png');
}

#main-menu #settings-menu-item {
  background-image: url('../images/settings-icon.png');
}

#main-menu #floorplan-menu-item {
  background-image: url('../images/floorplan-icon.png');
}

#main-menu #microphone-menu-item {
  background-image: url('../images/microphone.svg');
}

#main-menu #rules-menu-item {
  background-image: url('../images/rules-icon.png');
}

.log-out-button {
  background-color: unset;
  text-align: left;
  cursor: pointer;
  width: 100%;
  background-image: url('../images/log-out-icon.png');
}
